body {
    margin: 0;
    padding: 0;
}

body > .tab-panel {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.tab-panel > .tab-selector {
    margin-top: 3px;
    padding: 0 3px;
    border-bottom: black solid thin;
}

.tab-panel > .tab-selector > * {
    display: inline-block;
    border: black solid thin;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    padding: 2px;
    cursor: pointer;
    opacity: 0.25;
}

.tab-panel > .tab-selector > .tab-active {
    opacity: 1;
}

.tab-panel > .tab-view {
    flex: 1;
    position: relative;
}

.tab-panel > .tab-view > * {
    visibility: hidden;
    position: absolute !important;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.tab-panel > .tab-view > .tab-active {
    visibility: visible;
}

.diagram {
    position: relative;
    overflow: hidden;
}

.diagram > div, .diagram > svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.diagram > div .selected {
    border: 2px solid red;
}

.diagram > svg > path {
    stroke: black;
    fill: transparent;
}

.diagram > svg > path.source-selected {
    stroke: red;
}

.diagram > svg > path.target-selected {
    stroke: green;
}

.diagram > svg > defs > marker.regular > polygon {
    fill: black;
}

.diagram > svg > defs > marker.source-selected > polygon {
    fill: red;
}

.diagram > svg > defs > marker.target-selected > polygon {
    fill: green;
}

.diagram.elastic > div > * {
    margin: 0;
}

table.entity {
    position: absolute;
    box-sizing: border-box;
    border: thin solid black;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: small;
}

table.entity .hidden {
    display: none;
}

table.entity > thead > tr:first-child {
    background-color: beige;
}

table.entity > thead span.toggle {
    width: 10px;
    height: 10px;
    float: right;
    background-color: white;
    margin: 2px;
    border: thin solid black;
}

table.entity > tbody > tr:nth-child(odd) {
    background-color: white;
}

table.entity > tbody > tr:nth-child(even) {
    background-color: lightgray;
}

table.entity td {
    border: thin solid black;
}

table.entity span.entity-property-name {
    font-weight: bold;
}

.navigator {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: stretch;
    justify-content: center;
}

.navigator > div {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navigator > div > * {
    position: unset;
    margin: 5px;
}
